body {
    background-color: silver;
}
.bot-line {
    border-bottom: 5px solid black;
}
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
.hold-height {
    min-height: 300px !important;
}
li :hover {
    background-color: aliceblue;
    box-shadow: 5px 5px 8px 2px grey;
    transition-duration: 500ms;
}
.main-container {
    margin-left:0px !important;
}
.send-right {
    text-align:right;
}
#sidebar-div {
    margin-top: 12vh;
    max-width: 20vw !important;
    box-shadow: 5px 5px 8px 2px grey;
}
.sidenav-container {
    z-index: 10 !important;
}
.sidebar-min-width > * {
    min-width: 130px !important;
}
th {
    font-size: 12px;
}
.top-line {
    border-top: 5px solid black;
}
.top-pad {
    padding-top: 30px;
}